.cardMovie {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 300px;
	justify-content: space-between;
	margin-bottom: 10px;
}

.cardMovie--img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.cardMovie--name {
	background: green;
	width: 100%;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cardMovie p {
	margin-top: 6px;
	text-transform: uppercase;
}

.slick-slide {
	width: 100%;
	width: 240px !important;
}
@media (max-width: 739px) {
	.cardMovie {
		margin: 0 10px;
	}
}
