.buttonSearch {
    margin-top: 5px;
    text-align: end;
    height: 55px;
} 

.buttonSearch--input {
    width: 500px;
    height: 40px;
    border: solid 1px white;
    border-radius: 5px;
}

.buttonSearch--submit {
    width: 90px;
    height: 40px;
    border: solid 1px white;
    background-color: rgb(0, 132, 255);
    border-radius: 5px;
    margin-left: 4px;
}

.addFilmBtn {
    margin-top: 5px;
    width: 100px;
    height: 50px;
}

.descripFilm {
    text-align: center;
}

.listFilm {
	width: 100px;
	height: 100px;
	object-fit: cover;
}