.detailStyle {
  background: #f2f3e1;
}

.detailMovie {
  justify-content: center;
}

.detailMovie--slick {
  margin-top: 50px;
  width: 100%;
}

.slick-arrow::before {
  color: red;
  font-size: 30px;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .detailMovie--slick {
    height: 650px;
  }
}

@media (max-width: 739px) {
  .slick-next {
    right: 40%;
    top: 100%;
  }
  .slick-prev {
    left: 40%;
    top: 100%;
  }
}
