.button {
    background: #e71a0f;
    display: inline-block;
    padding: 6px 2px;
    border: 0;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.button:hover {
    border: none;
}
.button > span {
    border: 1px solid #f07469;
    font-weight: bold;
    padding: 5px;
    padding-left: 25px;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cate-booking.png) no-repeat scroll left
        center rgba(0, 0, 0, 0);
    border-radius: 5px;
}
